body {
  font-family: Helvetica Neue, Arial, sans-serif;
  text-align: center;
}

.sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.wrapper {
  display: grid;  
  margin-left: 200px;
  padding: 0px 10px;
}

h1 {
  font-weight: 200;
  font-size: 3em;
  margin: 0 0 0.1em 0;
}

h2 {
  font-weight: 200;
  font-size: 0.9em;
  color: #999;
}

a {
  margin-top: 50px;
  display: block;
  color: #3e95cd;
}

#myChart {
  max-width: 100%;
}

@media print{
   .noprint{
       display:none;
   }
}

table.blueTable {
  border: 1px solid #1C6EA4;
  width: 50%;
  text-align: center;
  border-collapse: collapse;
  margin: auto;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
  width: 10%
}
table.blueTable tbody td {
  font-size: 12px;
  width: 10%
}
table.blueTable thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 12px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot td {
  font-size: 14px;
}

.selectedRow{
	background: yellow;
}


select {
  width: 180px;
}